:host {
  display: block;
  padding: 1rem;
  border: 1px solid #ccc;
  margin: 1rem 0;
}
div {
  margin-bottom: 1rem;
}
.demo-box {
  border: 2px solid steelblue;
  padding: 1rem;
  margin-bottom: 1rem;
}
